<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
  <label>enter name:</label>
  <input type="name", name="name", placeholder="Enter Your name" required><br/>
  <label>enter email:</label>
  <input type="email", name="email", placeholder="Enter Your email" required><br/>
  <label>enter city:</label>
  <input type="name", name="city", placeholder="Enter Your city" required><br/>
  <label>enter country:</label>
  <input type="name", name="country", placeholder="Enter Your country" required><br/>
  <label>enter phone num:</label>
  <input type="name", name="phone", placeholder="Enter Your phone num" required><br/>
  <input type="submit" value="submit"/><br/>
</form>

</body>
</html>