<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% macro light_or_dark_mode(element) %}
{% if request.args.get('mode') == "dark" %}
<a href="{{ request.path }}">Перемкнутись на світлу тему</a>
<style>
  {{ element }} {
  background-color: #212F3C;
  color: #FF0000;
  }
  {{ element }} a {
  color: #FF0000 !important
  }
</style>
{% else %}
<a href="{{ request.path }}?mode=dark">Перемкнутись на темну тему</a>
{% endif %}
{% endmacro %}
</body>
</html>