<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додавання нового поста</title>
</head>
<body>
{% extends "main_pizza.html" %}
    {% block content %}
<form action="/new_post" method="post">
        <label>Введіть назву акції або новини</label>
        <input type="name" name="main" placeholder="Назва" required><br/>
        <label>Опис</label>
        <input type="text" name="about_post" placeholder="Опис" required><br/>
        <label>Дата дії</label>
        <input type="text" name="time" placeholder="дд.мм.рр-дд.мм.рр">
        <input type="submit" value="Додати пост"/><br/>
    </form>
<p><a href="/admin">Повернутись назад</a>
    {% endblock content %}
</body>
</html>