<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
{% extends "main_pizza.html" %}
    {% block content %}
        <table style="width:100%">
            <tr>
              <th style="width: 200px">Назва акції або новини</th>
              <th>Про акцію або новину</th>
                <th style="width:200px">Час створення та час дії(тільки для акцій)</th>

            </tr>
            {% for news in data %}
               <tr>
                   <td>{{news[0]}}</td>
                   <td>{{news[1]}}</td>
                   <td>{{news[2]}}</td>
                </tr>
            {% endfor %}
          </table>
{% endblock %}
</body>
</html>