<!DOCTYPE html>
<html>
    <head>
        <title>Flask and SQLite </title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
    {% extends "main_pizza.html" %}
    {% block content %}
    <img src="https://images.vexels.com/media/users/3/128435/isolated/preview/3bba8cf18c7b31717c98231e7d6e736e-italian-pizza-logo.png" alt="Логотип">
        <table style="width:100%">
            <tr>
              <th>Назва піци</th>
              <th>Кількість</th>
            </tr>
            {% for participant in data %}
               <tr>
                 <td>{{participant[0]}}</td>
                 <td>{{participant[1]}}</td>
                </tr>
            {% endfor %}
          </table>
    <h1>Добавити нову піцу в меню</h1>
    <form action="/admin" method="post">
        <label>Введіть назву піци:</label>
        <input type="name" name="pizza_name" placeholder="Назва піци" required><br/>
        <label>Інгредієнти:</label>
        <input type="name" name="about" placeholder="Ігредієнти" required><br/>
        <label>Ціна:</label>
        <input type="name" name="price" placeholder="Ціна" required><br/>
        <input type="submit" value="submit"/><br/>
    </form>
    {% endblock content %}
    </body>
</html>