<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<h2>Order place in bus</h2>
<form action="/luggage" method ="POST">
    {{ form.hidden_tag() }}
    <div class="form-group"></div>
    {{form.surname.label}}
    {{form.surname(class='form-control')}}
    <div>
    <div class="form-group"></div>
    {{form.name.label}}
    {{form.name(class='form-control')}}
    <div>
    <div class="form-group"></div>
    {{form.pass_id.label}}
    {{form.pass_id(class='form-control')}}
    <div>
    <div class="form-group"></div>
    {{form.luggage_weight.label}}
    {{form.luggage_weight(class='form-control')}}
    <div>
    {{form.submit(class='btn-primary')}}
</form>
</body>
</html>